.tb-header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.currency-list {
  flex: 1 1 100%;
}

.currency-list .tb-header {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  padding: 8px;
}
.currency-list .tb-header p:first-child {
  padding-left: 40px;
  width: 120px;
}

.currency-list .tb-header p:last-child {
  padding-right: 40px;
}
